.idea
.idea_modules
target
.cabal-sandbox
cabal.sandbox.config
*.swp
dist
lift/src/main/webapp/js/compare.js
lift/src/main/webapp/js/journal.js
lift/src/main/webapp/js/balance.js
lift/src/main/webapp/js/menu.js
hs_err_pid*
