<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
   
   <session-config>
       <session-timeout>180</session-timeout>
   </session-config>
   
   <servlet>
   	 <servlet-name>getGoodsServlet</servlet-name>
   	 <servlet-class>com.tort.trade.journals.GetGoodsServlet</servlet-class>
   </servlet>
   
   <servlet>
   	 <servlet-name>saveAllServlet</servlet-name>
   	 <servlet-class>com.tort.trade.journals.SaveAllServlet</servlet-class>
   </servlet>
   
   <servlet>
   	<servlet-name>journalServlet</servlet-name>
   	<servlet-class>com.tort.trade.journals.JournalServlet</servlet-class>
   </servlet>
   
   <servlet>
   	<servlet-name>balanceServlet</servlet-name>
   	<servlet-class>com.tort.trade.journals.BalanceServlet</servlet-class>
   </servlet>

    <servlet>
        <servlet-name>ConsistencyServlet</servlet-name>
        <servlet-class>com.tort.trade.journals.ConsistencyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>editSales</servlet-name>
        <servlet-class>com.tort.trade.journals.EditSaleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>consistencyBorders</servlet-name>
        <servlet-class>com.tort.trade.journals.consistency.BordersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>consistencyBorders</servlet-name>
        <url-pattern>getBorders</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConsistencyServlet</servlet-name>
        <url-pattern>getConsistency</url-pattern>
    </servlet-mapping>
   
   <servlet-mapping>
   	<servlet-name>getGoodsServlet</servlet-name>
   	<url-pattern>getGoods</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
   	<servlet-name>saveAllServlet</servlet-name>
   	<url-pattern>saveAll</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
   	<servlet-name>journalServlet</servlet-name>
   	<url-pattern>journal</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
   	<servlet-name>balanceServlet</servlet-name>
   	<url-pattern>balance</url-pattern>
   </servlet-mapping>

    <servlet-mapping>
        <servlet-name>editSales</servlet-name>
        <url-pattern>editSales</url-pattern>
    </servlet-mapping>
   
   <welcome-file-list>
   	<welcome-file>index.html</welcome-file>
   </welcome-file-list>   
</web-app>